python-telegram-bot==21.9
google-auth==2.27.0
google-auth-oauthlib==1.2.0
google-auth-httplib2==0.2.0
googleapis-common-protos==1.62.0
google-api-python-client==2.116.0
python-dotenv==1.0.1
pytz==2024.1
APScheduler==3.10.4
gspread==6.1.4